{% extends "browser/base.html" %}

{% load static %}

{% load widget_tweaks %} <!--Biblioteca django-->

{% block content %}

<!--Head-->
<title>Index</title>
<!--Heading-->
<section>
  <div class="clearfix my-1" id="cards">
    <h4 class="col-md-12">{{today.title}}</h4>
      <img src="{{today.url}}"  class="col-md-6 float-md-start mb-1 ms-md-3" alt="{{today.title}}">
        <p class="col-md-6">
          {{today.explanation}}
        </p>
        <p class="col-md-6" id="copyright">
          Autor(s):&nbsp;{{today.copyright}}&nbsp;/&nbsp; {{today.date}}
        </p>
  </div>
</section>
{% endblock %}